<!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="images/about-img.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">We are <span>Freshshop</span></h2>
                    <p>We care what you eat!
                    Eating healthy means eating fresh. Since 2001, FreshShop has been providing its customers in Melbourne with fruits and vegetables of the finest quality.
                    <br>
                    FreshShop is more than a fruit and vegetable supplier for wholesale. It’s the experience of a fruit and vegetable market that inspires our customer to eat fresh and healthy.
                    <br>
                    A strong and lasting relationship with local and international providers and the commitment of 450 of our dedicated employees are what makes FreshShop VietNam’s no 1 store with the broadest range of affordable fresh produce.
                    <br>
                    And our mission is for you to be satisfied with the taste, smell, and look of the food you buy.
                    <br>
                    Moreover, we are aware that many of our customers simply don’t have time to go shopping for fresh fruit and vegetables. That is why we also provide the service of fruit and vegetable delivery, bringing you fresh produce directly to your doorstep.
                    </p>
                    <p>Living well every day begins today!</p>
					<a class="btn hvr-hover" href="/contact">Contact us</a>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Trusted</h3>
                        <p>It’s our grower relationships that help us find the varieties you can’t buy
                            anywhere else – from heirloom onions and tomatoes to giant blueberries and 
                            exotic fruits like sapodilla.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Professional</h3>
                        <p>Each and every day, we have the pleasure of working closely with hundreds of market 
                            leading growers and producers to bring the best quality produce straight from harvest to you.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Expert</h3>
                        <p>Not all of us can do great things. But at FreshShop we all come together 
                            and do lots of small things with great love, so that you get to live well, enjoying 
                            quality, freshness and great value!</p>
                    </div>
                </div>
            </div>
            <div class="row my-4" style="display: flex; justify-content: center;">
                <div class="col-12">
                    <h2 class="noo-sh-title" style="text-align: center;">Meet Our Team</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/img-1.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Pham Son Nam</h3> <span class="post">MSSV - 19120596</span> </div>
                            <ul class="social">
                                <li>
                                    <a target="_blank" href="/facebookNam" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="/twitterNam" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="/instagramNam" class="fab fa-instagram"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="/youtubeNam" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>At FreshShop we truly are nothing without our people, from our growers, 
                                to your FreshShop store and to your dinner table, there are people working 
                                around the clock with a commitment to our community to provide the best quality, 
                                freshness and great value.</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/img-2.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Ng.H. Dieu Huong</h3> <span class="post">MSSV - 19120524</span> </div>
                            <ul class="social">
                                <li>
                                    <a target="_blank" href="/facebookHuong" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="/twitterHuong" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="/instagramHuong" class="fab fa-instagram"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="/youtubeHuong" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>At FreshShop we truly are nothing without our people, from our growers, 
                                to your FreshShop store and to your dinner table, there are people working 
                                around the clock with a commitment to our community to provide the best quality, 
                                freshness and great value.
                                </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End About Page -->

